@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
$AlmostWhite: hsl(0, 0%, 98%);
$MediumGray: hsl(0, 0%, 41%);
$AlmostBlack: hsl(0, 0%, 8%);
$Fontsize: 18px;
$fontfamily: 'Epilogue', sans-serif;

body {
    background-color: $AlmostWhite;
    font-size: $Fontsize;
    font-family: $fontfamily;
    color: $AlmostBlack;
}

.header {
    display: flex;
    width: 100%;

    &__img {
        display: flex;
    }

    &__select {
        display: flex;
        gap: 20px;
        list-style: none;
        .submenu {
            display: none;
          }
        img{
            margin-right: 10px;
        }
        ul{
            
            margin-top: 20px;
            border-radius: 10px;
            padding: 20px;
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        }
       
        li{
            list-style: none;
            padding: 8px;
            cursor: pointer;
            font-weight: 700;
        }
        .gray{
            color: $MediumGray;
            font-weight: 200;
        }
    }
    &__login{
        display: flex;
        flex-direction: row;
        gap: 20px;
        position: relative;
        float: left;
        font-weight: 700;
        justify-content: end;
        
        ul{
            display: flex;
            flex-direction: row;
            gap: 30px;
            
        }
        li{
            list-style: none;
            cursor: pointer;
            
        }
        button{
            padding: 10px 15px 10px 15px;
            border-radius: 10px;
            background-color: $AlmostWhite;
            cursor: pointer;
            font-weight: 700;
            font-family: $fontfamily;
        }
    }
    a{
        text-decoration: none;
        color: $AlmostBlack;
        font-weight: 700;
        
    }
   
      
}
